{% extends "base.html" %}
{% block content %}

<div role="main">
    <div class="hero-section no-sub">
        <div class="hero">Privacy Policy</div>
        <div class="subhero">August 1, 2020</div>
    </div>
    <div class="vertical-padding ">
        <p class="lead">
            <small>Open Justice Baltimore takes your privacy and security very seriously. BPD Watch is hosted independently
                from the main Open Justice Baltimore website. This Privacy Policy only applies to BPD Watch.
            </small>
        </p>
    </div>
    <div class="row display-flex vertical-padding">
        <div class="col-lg-6 col-half-border bg-light-gray horizontal-padding">
            <h3>Logs and Security</h3>
            <p class="font-weight-300">
                Open Justice Baltimore uses HTTPS on all of its web servers including BPD Watch. However, it is still
                possible for employers, internet service providors (ISPs), or anyone performing network-level traffic
                analysis to identify that you have visited BPD Watch. Open Justice Baltimore <b>does not</b> maintain 
                network logs on our web servers. We also do not block incoming connections from any regions or IP
                block, so we welcome traffic from any anonymity network such as Tor.
            </p>
        </div>
        <div class="col-lg-6 col-half-border bg-light-blue horizontal-padding">
            <h3>Legal Information</h3>
            <p class="font-weight-300">
                BPD Watch uses <a href="https://github.com/openjusticebaltimore/BPDWatch-data"></a>public information</a>
                provided by the Baltimore Police Department and the Baltimore City government. As such, we do not honor 
                requests for removal of police officer information. Questions may be directed to our
                <a href="mailto:legal@bpdwatch.com">legal representation</a>.
            </p>
        </div>
    </div>
    <div class="hr-banner horizontal-padding">
        <h4>Future Changes</h4>
        <p class="font-weight-300">
            <small>In the case that the Open Justice Baltimore has to update this Privacy Policy, we will update the date at
                the top of this webpage.
            </small>
        </p>
    </div>
</div>
{% endblock %}
